html
    head

    body
        select(id="player")
            each player in players
                option(value=player.id) #{player.name}
        h1 Match MVP
        table
            tr
                th(colspan="3" id="name")
            tr
                td(rowspan="5")
                    img(id="hero" src="http://cdn.dota2.com/apps/dota2/images/heroes/nevermore_vert.jpg")
                td K/D/A
                td(id="kda")
            tr
                td GPM
                td(id="gpm")
            tr
                td XPM
                td(id="xpm")
            tr
                td Networth
                td(id="networth")