html
    head
        link(rel='stylesheet', href='/support.css')
        script(src="/socket.io/socket.io.js")
    body
        div(id="radiant" class="score") 0
        div(class="pad")
        div(id="dire" class="score") 0
        script(src='/support.js')